@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.nav-wrapper{
    background-color: rgba(69, 69, 69, 0.4)
}

nav{
    background-color: transparent;
}

.tabs{
    background-color: transparent;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: white;
}

.tabs .tab a{
    color: white;
}

.loader {
  display: none;
  width: 60px;
  left: 10px;
  top: 10px;
  position: fixed;
  z-index: 10;
	-webkit-animation:rotate 1s  linear infinite;

}
@-webkit-keyframes rotate {
	0%{-webkit-transform:rotateZ(0deg)}
	100%{-webkit-transform:rotateZ(360deg)}
}

.top-bar {
  float:left;
  width:100%;
  background-color: rgb(190, 240, 210);
  text-align: center;
}

.top-bar h1 {
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
}

.login-page {
  width: 360px;
  padding: 120px 0 0;
  margin: auto;
}

.wallet-page {
  width: 80%;
  padding: 120px 0 0;
  margin: auto;
}

.wallet-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.wallet-header {
  width: 100%;
  text-align:center;
  padding-top:5px;
}

.wallet-title {
  width: 100%;
  height: 48px;
  margin: 5px;
  font-size: 28px;
  text-align: center;
  line-height: 48px;
  color: White;
  font-family: "Roboto", sans-serif;
}

.wallet-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(190, 240, 210);
}

.wallet-nav ul li {
  float: left;
  width: 33.33%;
}

.wallet-nav ul li a {
  display: block;
  color: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor:pointer
}

.wallet-nav ul li a:hover {
  background-color: #4CAF50;
  color: white;
}

.wallet-content {
  height: 360px;
  padding: 50px;
}

.wallet-content-transfer {
  display: none;
}

.wallet-content-logout {
  display: none;
}

.wallet-content-info-table {
  width: 100%;
  color: black;
}

.wallet-content-info-table tr {
  height: 24px;
}

.wallet-content-info-table tr th {
  width: 50%;
  text-align:center;
  font-size: 30px;
}

.wallet-content-refresh-wrapper {
  width: 100%;
  margin-top: 280px;
}

.wallet-content-logout-wrapper {
  width: 100%;
  margin-top: 100px;
}

.wallet-content-btn {
  margin: auto;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 0;
  text-align: center;
}

.form .form-title {
  color: #4CAF50;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .submit-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .submit-btn:hover,.form .submit-btn:active,.form .submit-btn:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
  padding: 20px 45px;
}

.form .login-form {
  padding: 20px 45px;
}

body {
  margin: 0;
  background: url(https://static1.squarespace.com/static/510590f6e4b04f7510f87052/t/5910d7451e5b6ca37f08c0ca/1501711128052/pexels-photo-27406.jpg?format=1500w); /* fallback for old browsers */
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}